.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.App.mobile {
  flex-direction: column;
}

.input-field {
  margin-bottom: 10px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.input-field:focus {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.directions-button {
  margin-bottom: 20px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.directions-button:hover {
  background-color: #0056b3;
}

.map-container {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  overflow: hidden;
}

.route-bubbles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
}

.route-bubble {
  display: flex;
  align-items: left;
  flex-direction: column;
  border: 3px solid darkgray;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: #f5f5f5; 
  box-shadow:2px 2px rgba(0,0,0,.1);
  transition: background-color 0.3s ease;
}

.route-bubble:hover {
   background-color: #e5e5e5;
   border: 3px solid rgb(122, 122, 122);
}

.route-color-indicator {
   width:10px; 
   height:10px; 
   margin-right:10px; 
   border-radius:50%; 
}

.distance-display {
  font-size: 1.2em;
  margin: 10px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 600px) {
  .distance-display {
    font-size: 1em;
  }
}

.address-bar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-content: center;
  padding: 33px;
  max-width: 639px;
  background-color: white;
}

.address-bar .input-field {
  min-width: 242px;
}

.main-content {
  flex: 1;
}

.address-title {
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  align-content: center;
}

.route-bubble-line {
  padding: 3px;
  margin-bottom: 1px;
}

.uppercase-text {
  text-transform: uppercase;
}

.route-bubble-button {
  margin: 3px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.route-bubble-animation-enter {
  opacity: 0;
  transform: scale(0.9);
}

.route-bubble-animation-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.route-bubble-animation-exit {
  opacity: 1;
}

.route-bubble-animation-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}