.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App.desktop {
  /* Styles for desktop */
}

.App.mobile {
  /* Styles for mobile */
}

.input-field {
  margin-bottom: 10px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.input-field:focus {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.directions-button {
  margin-bottom: 20px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.directions-button:hover {
  background-color: #0056b3;
}

.map-container {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  position: relative; 
  overflow: hidden; 
}

.route-bubbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.route-bubble {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: #f5f5f5; 
  box-shadow:2px 2px rgba(0,0,0,.1);
  transition: background-color 0.3s ease;
}

.route-bubble:hover {
   background-color: #e5e5e5; 
}

.route-color-indicator {
   width:10px; 
   height:10px; 
   margin-right:10px; 
   border-radius:50%; 
}